
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bootstrap/
/var/
/vendor/
/public/img/
###< symfony/framework-bundle ###
