{% apply inline_css(source('@css/qA.css')) %}
<div class="réducteur-space carte" style="margin: 20px;">
    <div style="align-items: center;justify-content: center;">
            <img src="{{ email.image('@img/Logo-full.png') }}" alt="logo">
    </div>
    <div class="qatitle" style="text-align: center;">Heureux de vous revoir</div>
    <div class="qatext" style="text-align: center;">

    {% if action == "Changez de mot de passe" %}
        Mot de passe oublié?
        <br>
        Pas d'inquiètude vous pouvez changer de mot de passe en cliquant sur le bouton ci-dessous
        <br>
    {% else %}
        vous n'êtes malheuresement plus un administrateur du site Quai Antique
        <br>
        Veuillez fournir votre mot de passe en cliquant sur le bouton ci-dessous
        <br>
        Sans quoi vous ne pourrez plus accéder à votre compte. 
    {% endif %}
        À Bientôt!
    </div>
    <div>
        <a href="{{ absolute_url(path('UpdateAcces', {'token': token})) }}">
            <button class="qabtn" style="border:none;border-radius: 10px;
             padding: 5px 10px 5px 10px;margin: 20px 0 20px 50%;transform: translateX(-50%);">
                Changez mon mot de passe
            </button>
        </a>
    </div>
</div>
{% endapply %}