<div class="container-fluid m-1">
    <div class="row qatitleProduit">
        {{ produit.title }}
    </div>
    <div class="row">
        <div class="col-8 text-start qatext">
            {{ produit.description }}
        </div>
        <div class="col-4 text-center qaPrix">
            {{ produit.prix }} €
        </div>
    </div>
</div>